$green: #FCCD34;
$red: #EB5757;
$text: #101010;
$subtext: rgba( #101010, 0.7 );
$lightGray: #C4C4C4;

$colors: (
  'text': $text,
  'text-hover': lighten( $text, 40% ),
  'subtext': $subtext,
  'light-gray': $lightGray,

  'white': #fff,
  'white-90': rgba( #fff, 0.9 ),
  'white-70': rgba( #fff, 0.7 ),

  'red': $red,
  'red-hover': lighten( $red, 10% ),

  'primary': $green,
  'primary-hover': lighten( $green, 5% ),

  'synapps-grey': #BDBDBD
);